:root {
  --primary-color: rgba(25, 90, 0, 1);
  --secondery-color: rgba(250, 247, 242, 1);
  --primary-coffee: rgba(188, 154, 108, 1);
  --secondery-coffee: rgba(237, 234, 227, 1);
  --black-1: rgba(30, 30, 30, 1);
  --fffffff: rgba(255, 255, 255, 1);
  --secondery-color-2: rgba(153, 153, 102, 1);
  --hover: rgba(168, 188, 161, 1);
  --disable-green: rgba(168, 188, 161, 0.3);
  --gray-2: rgba(79, 79, 79, 1);
  --gray-1: rgba(51, 51, 51, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --gray-5: rgba(224, 224, 224, 1);
  --black-ododod: rgba(13, 13, 13, 1);
  --heading-1-60-font-family: "Helvetica-Bold", Helvetica;
  --heading-1-60-font-weight: 700;
  --heading-1-60-font-size: 60px;
  --heading-1-60-letter-spacing: 0px;
  --heading-1-60-line-height: 68px;
  --heading-1-60-font-style: normal;
  --headingt-2-48-font-family: "Helvetica-Bold", Helvetica;
  --headingt-2-48-font-weight: 700;
  --headingt-2-48-font-size: 48px;
  --headingt-2-48-letter-spacing: 0px;
  --headingt-2-48-line-height: 56px;
  --headingt-2-48-font-style: normal;
  --heading-3-40-font-family: "Helvetica-Bold", Helvetica;
  --heading-3-40-font-weight: 700;
  --heading-3-40-font-size: 40px;
  --heading-3-40-letter-spacing: 0px;
  --heading-3-40-line-height: 48px;
  --heading-3-40-font-style: normal;
  --heading-2-48-font-family: "Helvetica-Bold", Helvetica;
  --heading-2-48-font-weight: 700;
  --heading-2-48-font-size: 48px;
  --heading-2-48-letter-spacing: 0px;
  --heading-2-48-line-height: 56px;
  --heading-2-48-font-style: normal;
  --heading-4-32-font-family: "Helvetica-Bold", Helvetica;
  --heading-4-32-font-weight: 700;
  --heading-4-32-font-size: 32px;
  --heading-4-32-letter-spacing: 0px;
  --heading-4-32-line-height: 40px;
  --heading-4-32-font-style: normal;
  --heading-5-24-font-family: "Helvetica-Bold", Helvetica;
  --heading-5-24-font-weight: 700;
  --heading-5-24-font-size: 24px;
  --heading-5-24-letter-spacing: 0px;
  --heading-5-24-line-height: 32px;
  --heading-5-24-font-style: normal;
  --heading-6-20-font-family: "Helvetica-Bold", Helvetica;
  --heading-6-20-font-weight: 700;
  --heading-6-20-font-size: 20px;
  --heading-6-20-letter-spacing: 0px;
  --heading-6-20-line-height: 28px;
  --heading-6-20-font-style: normal;
  --large-text-bold-20-font-family: "Helvetica-Bold", Helvetica;
  --large-text-bold-20-font-weight: 700;
  --large-text-bold-20-font-size: 20px;
  --large-text-bold-20-letter-spacing: 0px;
  --large-text-bold-20-line-height: 28px;
  --large-text-bold-20-font-style: normal;
  --learge-text-regular-20-font-family: "Helvetica-Regular", Helvetica;
  --learge-text-regular-20-font-weight: 400;
  --learge-text-regular-20-font-size: 20px;
  --learge-text-regular-20-letter-spacing: 0px;
  --learge-text-regular-20-line-height: 28px;
  --learge-text-regular-20-font-style: normal;
  --medium-text-bold-18-font-family: "Helvetica-Bold", Helvetica;
  --medium-text-bold-18-font-weight: 700;
  --medium-text-bold-18-font-size: 18px;
  --medium-text-bold-18-letter-spacing: 0px;
  --medium-text-bold-18-line-height: 26px;
  --medium-text-bold-18-font-style: normal;
  --medium-text-regular-18-font-family: "Helvetica-Regular", Helvetica;
  --medium-text-regular-18-font-weight: 400;
  --medium-text-regular-18-font-size: 18px;
  --medium-text-regular-18-letter-spacing: 0px;
  --medium-text-regular-18-line-height: 26px;
  --medium-text-regular-18-font-style: normal;
  --normal-text-bold-16-font-family: "Helvetica-Bold", Helvetica;
  --normal-text-bold-16-font-weight: 700;
  --normal-text-bold-16-font-size: 16px;
  --normal-text-bold-16-letter-spacing: 0px;
  --normal-text-bold-16-line-height: 24px;
  --normal-text-bold-16-font-style: normal;
  --normal-text-regular-16-font-family: "Helvetica-Regular", Helvetica;
  --normal-text-regular-16-font-weight: 400;
  --normal-text-regular-16-font-size: 16px;
  --normal-text-regular-16-letter-spacing: 0px;
  --normal-text-regular-16-line-height: 24px;
  --normal-text-regular-16-font-style: normal;
  --small-text-bold-14-font-family: "Helvetica-Bold", Helvetica;
  --small-text-bold-14-font-weight: 700;
  --small-text-bold-14-font-size: 14px;
  --small-text-bold-14-letter-spacing: 0px;
  --small-text-bold-14-line-height: 22px;
  --small-text-bold-14-font-style: normal;
  --small-text-regular-14-font-family: "Helvetica-Regular", Helvetica;
  --small-text-regular-14-font-weight: 400;
  --small-text-regular-14-font-size: 14px;
  --small-text-regular-14-letter-spacing: 0px;
  --small-text-regular-14-line-height: 22px;
  --small-text-regular-14-font-style: normal;
  --h2-40-font-family: "Helvetica-Bold", Helvetica;
  --h2-40-font-weight: 700;
  --h2-40-font-size: 48px;
  --h2-40-letter-spacing: 0px;
  --h2-40-line-height: 56px;
  --h2-40-font-style: normal;
  --miniver-text-18-font-family: "Miniver-Regular", Helvetica;
  --miniver-text-18-font-weight: 400;
  --miniver-text-18-font-size: 18px;
  --miniver-text-18-letter-spacing: 0px;
  --miniver-text-18-line-height: 26px;
  --miniver-text-18-font-style: normal;
  --dancing-script-18-font-family: "Inter-Bold", Helvetica;
  --dancing-script-18-font-weight: 700;
  --dancing-script-18-font-size: 16px;
  --dancing-script-18-letter-spacing: -0.17600000381469727px;
  --dancing-script-18-line-height: 24px;
  --dancing-script-18-font-style: normal;
  --miniver-18-font-family: "Miniver-Regular", Helvetica;
  --miniver-18-font-weight: 400;
  --miniver-18-font-size: 18px;
  --miniver-18-letter-spacing: 0px;
  --miniver-18-line-height: 26px;
  --miniver-18-font-style: normal;
  --great-vibes-18-font-family: "GreatVibes-Regular", Helvetica;
  --great-vibes-18-font-weight: 400;
  --great-vibes-18-font-size: 18px;
  --great-vibes-18-letter-spacing: 0px;
  --great-vibes-18-line-height: 120.00000476837158%;
  --great-vibes-18-font-style: normal;
  --great-vibes-32-font-family: "GreatVibes-Regular", Helvetica;
  --great-vibes-32-font-weight: 400;
  --great-vibes-32-font-size: 32px;
  --great-vibes-32-letter-spacing: 0px;
  --great-vibes-32-line-height: 40px;
  --great-vibes-32-font-style: normal;
  --404-96-bold-font-family: "Helvetica-Bold", Helvetica;
  --404-96-bold-font-weight: 700;
  --404-96-bold-font-size: 96px;
  --404-96-bold-letter-spacing: 0px;
  --404-96-bold-line-height: 104px;
  --404-96-bold-font-style: normal;
  --18-24-font-family: "Helvetica-Regular", Helvetica;
  --18-24-font-weight: 400;
  --18-24-font-size: 18px;
  --18-24-letter-spacing: 0px;
  --18-24-line-height: 24px;
  --18-24-font-style: normal;
}
